<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= subject %></title>
    <link rel="stylesheet" href="/_style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Hello <%= firstName %>,</h1>
      <p>
        This is to notify you that your password has been successfully changed.
      </p>
      <p>
        If you did not make this change, please contact our support team
        immediately.
      </p>
    </div>
  </body>
</html>
